<!DOCTYPE html>
<html>
<head>
    <title>Lista de Empréstimos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-3">
    <h1>Lista de Empréstimos</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Titulo do Livro</th>
                <th>Data de Empréstimo</th>
                <th>Data Prevista de Devolução</th>
                <th>Emprestado Para</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in emprestimos %}
            <tr>
                <td>{{ emprestimo.livro_titulo }}</td>
                <td>{{ emprestimo.data_emprestimo }}</td>
                <td>{{ emprestimo.data_devolucao }}</td>
                <td>{{ emprestimo.emprestado_para }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'adicionar_emprestimo' %}" class="btn btn-primary">Adicionar novo empréstimo</a>
    <a href="" class="btn btn-primary">Página de Devolução</a>
</div>
</body>
</html>
